#heading {
    text-align: center;
}

#users {
    padding: 0;
    list-style: none;
}

.user {
    text-align: center;
}

.user.empty .forename, .user.empty .surname {
    color: #d3d3d3;
}

.add-user {
    text-align: center;
}

.action {
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
    background-image: url("images/add.png");
}

.user.empty .action {
    background-image: none;
}

.user.submitted .action {
    background-image: url("images/delete.png");
}